{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew update

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "autojump"
brew "fzf"
brew "lazygit"
brew "neovim"
brew "nvm"
brew "postgresql@16"
brew "rbenv"
brew "redis"
brew "ripgrep"
brew "tmux"
brew "vips"

cask "1password-cli"
cask "docker"
cask "dropzone"
cask "font-roboto-mono-nerd-font"
cask "google-chrome"
cask "iterm2"
cask "karabiner-elements"
cask "spotify"
EOF
{{ end -}}
