{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew update
brew tap homebrew/cask-fonts

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "1password-cli"
brew "autojump"
brew "lazygit"
brew "neovim"
brew "nvm"
brew "postgresql@16"
brew "rbenv"
brew "redis"
brew "ripgrep"
brew "tmux"

cask "dropzone"
cask "font-roboto-mono-nerd-font"
cask "google-chrome"
cask "iterm2"
cask "karabiner-elements"
EOF
{{ end -}}
