{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

#################################################
# Dock                                          #
#################################################

# Set the icon size of Dock items to 32 pixels
defaults write com.apple.dock tilesize -int 32

#################################################
# Keyboard                                      #
#################################################

# Set a blazingly fast keyboard repeat rate
defaults write NSGlobalDomain InitialKeyRepeat -int 15
defaults write NSGlobalDomain KeyRepeat -int 2

#################################################
# iTerm2                                        #
#################################################

# 💡 echo nested values with "print"; use "set" to write values:
#    /usr/libexec/PlistBuddy -c "print 'New Bookmarks':0:'Scrollback Lines'" ~/Library/Preferences/com.googlecode.iterm2.plist
#    /usr/libexec/PlistBuddy -c "set 'New Bookmarks':0:'Scrollback Lines'" 10000 ~/Library/Preferences/com.googlecode.iterm2.plist

# Profiles/Text: Settings for Font
/usr/libexec/PlistBuddy -c "set 'New Bookmarks':0:'Normal Font' RobotoMonoNF-Rg 16" ~/Library/Preferences/com.googlecode.iterm2.plist

# Profiles/Terminal: Scrollback Buffer (10000 lines)
/usr/libexec/PlistBuddy -c "set 'New Bookmarks':0:'Scrollback Lines' 10000" ~/Library/Preferences/com.googlecode.iterm2.plist

# Profile/Colors: Snazzy Theme
# defaults read com.googlecode.iterm2 | grep -q "Snazzy" ||
#   (curl -Ls https://raw.githubusercontent.com/sindresorhus/iterm2-snazzy/main/Snazzy.itermcolors > /tmp/Snazzy.itermcolors && open /tmp/Snazzy.itermcolors)

{{ end -}}

echo "MacOS configurations finished. Note that some of these changes require a logout/restart to take effect."
